body {
  font-size:10px;
  font-family: Verdana, Helvetica;
}

#title-box {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  font-size:x-large;
  border: none;
  border-bottom: 4px solid;
}

#canvas-wrapper {
  float: left;
  width: 60%;
  height: 400px;
}

canvas {
  border:1px solid;
  display: block;
}

#prop-wrapper {
  float: left;
  background-color: #CBFFD3;
  width: 40%;
  height: 400px;
}

.button {
  font-size: 1rem;
  position: relative;
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #556b2f;
}

@media screen and (max-width:480px) {
  .contents-wrapper {
    display:flex;
    flex-flow: column;
  }
  #canvas-wrapper {
    width: 100%;
    height: 350px;
  }

	#prop-wrapper {
    width: 100%;
  }
 
}